body {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  flex-direction: row;
  margin: 70px;
  padding:30px;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: snow;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
